<include('./shell.marko')>
    <@body>
		<p>${data.item.title} <span class="domain">${data.item.domain}</span></p>
	    <div for(comment in data.item.comments)>  
        	<include('./comment.marko', comment)  />
        </div>
	</@body>
</include>